@page
@model DetailsModel

@{
    ViewData["Title"] = "Customer Details";
}

<h1>Customer Details</h1>

<div>
    <h4>Customer Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <strong>Password:</strong>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt class="col-sm-3">
            <strong>Contact Name:</strong>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.ContactName)
        </dd>
        <dt class="col-sm-3">
            <strong>Address:</strong>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Adress)
        </dd>
        <dt class="col-sm-3">
            <strong>Phone:</strong>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer.Phone)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustomerId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
